/* Smooth scrolling for desktop only */
@media (min-width: 768px) {
  html {
    scroll-behavior: smooth;
  }
}

/* HEADER background */
header {
  background-color: #f0f9ff !important; /* light aqua clinic blue */
  border-bottom: 1px solid #dbeafe !important;
}

/* Clinic Name Colors */
header h1 {
  color: #1d4ed8 !important;  /* dental strong blue */
  font-size: 1.25rem !important;
}
header h2 {
  color: #2563eb !important;  /* dental light blue */
  font-size: 1.25rem !important;
}
